@model ChatChat.Models.LoginModel

@{
    ViewBag.Title = "Login";
}
<style>
      html {
            background-color: #d3e2f5;
        }

        body {
            background-color: #d3e2f5;
        }
  
    /* кнопка*/
    .blubtn {
        hight: auto;
        width: auto;
        text-align: center;
        text-decoration: none;
        font: bold 15px arial;
        border: #1071FF 1px solid;
        color: #5D8EC7;
        padding: 3px;
        padding-left: 5px;
        padding-right: 5px;
        margin: 20px auto;
        transition: .5s;
        border-radius: 0px;
        position: relative;
    }

        .blubtn:hover {
            top: 5px;
            transition: .5s;
            color: #0dd304;
            border: #0dd304 1px solid;
            border-radius: 10px;
        }

        .blubtn:active {
            color: #000;
            border: #5D8EC7 1px solid;
            transition: .07s;
            background-color: #FFF;
        }
  

     

</style>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-md-4 col-md-push-4" style="width: auto; height: auto;">
            <h4><label>Вход</label></h4>
            <hr />
            @Html.ValidationSummary()
            <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />
            <p>
                <label>Email:</label><br />
                @Html.EditorFor(x => x.Email)
            </p>
            <p>
                <label>Пароль:</label><br />
                @Html.EditorFor(x => x.Password)
            </p>
            <p><button class="blubtn">Войти</button></p>

        </div>
       

    </div>
}
